@import '../../styles/variables';

.aisleRocket {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background: rgba($white, 0.3);
    border: 1px solid $white;
    padding: 20px;

    &__image {
        display: block;
        width: 100%;
    }
}