@import '../../styles/variables';

.aisleRocket {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background: red;

    &__image {
        display: block;
        width: 100%;
    }
}